<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>743800303575-6f7q2m509d6jeq5hsdf9k9jd1vb89hni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743800303575-6f7q2m509d6jeq5hsdf9k9jd1vb89hni</string>
	<key>API_KEY</key>
	<string>AIzaSyASoYDLwFcHiwGGrCbiCjkCBfj3cNOe6qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>743800303575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitgarden.sanatik</string>
	<key>PROJECT_ID</key>
	<string>sanatik-dd619</string>
	<key>STORAGE_BUCKET</key>
	<string>sanatik-dd619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743800303575:ios:c62fa88ca2ce0148</string>
	<key>DATABASE_URL</key>
	<string>https://sanatik-dd619.firebaseio.com</string>
</dict>
</plist>